.virksomhetsPicker {
    display: none;
}

@media only screen and (max-width: 720px) {
    .virksomhetsPicker {
        display: block;
        margin-top: var(--navds-spacing-12);
        margin-bottom: var(--navds-spacing-4);
    }
}
